<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <!-- About TweetGoTo -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">About TweetGoTo</h5>
        <p class="small">
          TweetGoTo helps you manage and schedule your tweets effortlessly. With easy Twitter integration, keep your social media presence active and organized.
        </p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="<%= about_path %>" class="text-white">About Us</a></li>
          <li><a href="<%= sign_up_path %>" class="text-white">Sign Up</a></li>
          <li><a href="<%= sign_in_path %>" class="text-white">Sign In</a></li>
          <li><a href="/auth/twitter" class="text-white">Connect Twitter</a></li>
        </ul>
      </div>

      <!-- Contact Info -->
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Contact Us</h5>
        <p class="small">
          Email: <a href="mailto:support@tweetgoto.com" class="text-white">support@tweetgoto.com</a><br>
          Phone: +1-234-567-890
        </p>
      </div>
    </div>

    <hr class="border-white">

    <!-- Social Media and Copyright -->
    <div class="row align-items-center">
      <div class="col-md-6">
        <p class="mb-0 small">&copy; 2024 TweetGoTo | All Rights Reserved</p>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>
